@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------*/
.advant .row .advant__item .advant__text .advant__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #395060;
}

.advant .row .advant__item .advant__text p {
  font-size: 16px;
  line-height: 24px;
}

.opport .row .opport__cell .opport__item .opport__text {
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

.customers .row .custum__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.footer .row p, .footercopy .row .copyright {
  font-size: 14px;
  line-height: 1.2;
  color: #d7e3ec;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("☺"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?55513132");
  src: url("../fonts/fontello.eot?55513132#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?55513132") format("woff"), url("../fonts/fontello.ttf?55513132") format("truetype"), url("../fonts/fontello.svg?55513132#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #000000;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 30px 0px;
}

.header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .__menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .__menu-links .nav .__dopmenu ul li div {
  border: 0px;
}

.header .row .__consult-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .row .__consult-info .consalt {
  line-height: 35px;
  max-width: 148px;
  margin: 0px 10px 0px 0px;
}

.header .row .__consult-info .consalt :first-child {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .004em;
}

.header .row .__consult-info .consalt .consult-phone {
  font-size: 10px;
  letter-spacing: .075em;
  color: #ffffff;
  padding: 15px 29px 12px 31px;
  background: #395060;
}

.header .row .__consult-info .consalt__search {
  text-align: center;
  line-height: 31px;
  width: 31px;
  height: 31px;
  background: #c5ced3;
  border-radius: 50%;
}

.header .row .__consult-info .consalt__search button {
  background: inherit;
}

.header .row .__consult-info .consalt__search button i {
  color: #ffffff;
}

.mainscreen {
  position: relative;
  background: url("../img/bg.png") 50%/cover no-repeat;
}

.mainscreen::before {
  content: '';
  display: block;
  background: #1d6192;
  opacity: .3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mainscreen .row {
  padding: 143px 0px 255px;
  min-width: 0;
}

.mainscreen .row .mainscreen__title {
  margin: 69px 0px 0px 0px;
}

.mainscreen .row .mainscreen__title h1 {
  font-size: 37px;
  line-height: 49px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px 0px 34px 0px;
}

.mainscreen .row .mainscreen__title p {
  font-size: 20px;
  line-height: 0;
  color: #ffffff;
  margin: 0px 0px 88px 0px;
}

.mainscreen .row .mainscreen__title a {
  display: block;
  width: 231px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.22em;
  color: #ffffff;
  background: #1c81d9;
  padding: 21px 52px 16px 53px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mainscreen .row .mainscreen__title a:hover {
  background: #126cbb;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.mainscreen .row .mainscreen__slider .slider {
  max-width: 813px;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.mainscreen .row .mainscreen__slider .slider .slider__item img {
  width: 100%;
}

.mainscreen .row .mainscreen__slider .slider .slick-list {
  overflow: hidden;
}

.mainscreen .row .mainscreen__slider .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainscreen .row .mainscreen__slider .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainscreen .row .mainscreen__slider .slider .slick-dots li {
  list-style: none;
  margin: 22px 11px 0px 0px;
}

.mainscreen .row .mainscreen__slider .slider .slick-dots li.slick-active button {
  background-color: #98d6ff;
  width: 8px;
}

.mainscreen .row .mainscreen__slider .slider .slick-dots li button {
  font-size: 0;
  width: 9px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.advant {
  margin: -177px 0px 78px;
  z-index: 10;
}

.advant .row {
  background: #f2f9fc;
  padding: 81px 0px 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advant .row .advant__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.advant .row .advant__item:not(:last-child) {
  margin: 0px 0px 163px 0px;
}

.advant .row .advant__item:not(:last-child):after {
  content: "";
  display: block;
  width: 1034px;
  height: 2px;
  background: #dbeaf0;
  position: absolute;
  top: 244px;
  left: 0px;
}

.advant .row .advant__item .advant__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 298px;
          flex: 0 0 298px;
}

.advant .row .advant__item .advant__img:first-child {
  margin: 0px 219px 0px 0px;
}

.advant .row .advant__item .advant__img img {
  max-width: 100%;
}

.advant .row .advant__item .advant__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 527px;
}

.advant .row .advant__item .advant__text:first-child {
  margin: 0px 219px 0px 0px;
}

.advant .row .advant__item .advant__text .advant__title {
  margin: 0px 0px 28px 0px;
}

.opport .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opport .row .opport__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  margin: 0px 0px 56px 0px;
}

.opport .row .opport__cell {
  border: 2px solid #eee;
  max-width: 449px;
  margin: 0px 0px 15px 0px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.opport .row .opport__cell:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 51px 11px rgba(78, 132, 172, 0.18);
          box-shadow: 0px 0px 51px 11px rgba(78, 132, 172, 0.18);
}

.opport .row .opport__cell .opport__item {
  padding: 28px 200px 67px 26px;
  position: relative;
}

.opport .row .opport__cell .opport__item::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 15px;
  display: block;
  border: 32px solid transparent;
  border-left: 32px solid #c9e8fb;
  border-top: 32px solid #c9e8fb;
  opacity: .8;
  z-index: -1;
}

.opport .row .opport__cell .opport__item::after {
  visibility: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  right: -15px;
  display: block;
  border: 20px solid transparent;
  border-left: 20px solid #ccc;
  border-top: 20px solid #ccc;
  opacity: .8;
  z-index: -1;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.opport .row .opport__cell .opport__item:hover::after {
  visibility: visible;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.opport .row .opport__cell .opport__item .opport__img {
  margin: 22px 0px 125px 0px;
  min-height: 95px;
}

.customers {
  background: #2880c1;
}

.customers .row .custum__title {
  margin: 51px 0px 63px 0px;
}

.customers .row .cust__slider {
  max-width: 1410px;
  position: relative;
  padding: 0px 205px;
  margin: 0px 0px 95px 0px;
  /* Слайдер */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.customers .row .cust__slider .cust__item:not(:last-child) {
  margin: 0px 100px 0px 0px;
}

.customers .row .cust__slider .cust__item .gas {
  margin: 0px 0px 35px 0px;
}

.customers .row .cust__slider .slick-slider {
  min-width: 0;
}

.customers .row .cust__slider .slick-list {
  overflow: hidden;
}

.customers .row .cust__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers .row .cust__slider .slick-arrow {
  position: absolute;
  margin: -18px 0px 0px 0px;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 13px;
  height: 22px;
  opacity: .7;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.customers .row .cust__slider .slick-arrow:hover {
  opacity: 1;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.customers .row .cust__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/arr_l.svg") 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.customers .row .cust__slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/arr__right.svg") 0 0/100% no-repeat;
}

.footer {
  background: #395060;
}

.footer .row {
  padding: 35px 0px 0px 0px;
}

.footer .row p a:hover {
  color: #fff;
}

.footer .row p .contact {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
}

.footer .row .web a .fb {
  background: #93a3ad;
  width: 41px;
  height: 41px;
  border-radius: 70%;
  position: relative;
}

.footer .row .web a .fb::before {
  content: "f";
  display: block;
  top: 11px;
  left: 15px;
  position: absolute;
  color: #395060;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
}

.footer .row .web a .fb:hover {
  background: #fff;
}

.footer .row .web a .in {
  background: #93a3ad;
  width: 41px;
  height: 41px;
  border-radius: 70%;
  position: relative;
}

.footer .row .web a .in::before {
  content: "In";
  display: block;
  top: 12px;
  left: 10px;
  position: absolute;
  color: #395060;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
}

.footer .row .web a .in:hover {
  background: #fff;
}

.footercopy {
  background: #4b6170;
  padding: 21px 0px 19px;
}

.footercopy .row .copyright {
  color: #8a959c;
  margin-bottom: 0;
}

.footercopy .row .footer__text {
  margin: 0px 8px 0px 0px;
}

.footercopy .row .footer__text p {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #888e91;
  margin-bottom: 0;
}

@media (min-width: 1410px) {
  .header .row .__menu-links nav ul li:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
  .header .row .__consult-info {
    max-width: 300px;
  }
  .advant .row .advant__item:not(:last-child):after {
    width: 1134px;
    height: 2px;
    top: 244px;
    left: 30px;
  }
  .opport .row .opport__cell {
    max-width: 390px;
    margin: 0px 10px 15px 0px;
  }
  .opport .row .opport__cell .opport__item {
    padding: 28px 200px 67px 26px;
  }
  .customers .row .cust__slider {
    max-width: 1190px;
    padding: 0px 91px;
  }
}

@media (min-width: 1023px) and (max-width: 1409px) {
  .header .row .__menu-links nav ul li {
    line-height: 27px;
  }
  .header .row .__menu-links nav ul li:not(:last-child) {
    margin: 0px 9px 0px 0px;
  }
  .mainscreen .row {
    padding: 50px 0px 100px 0px;
  }
  .mainscreen .row .mainscreen__slider {
    margin: 24px 0px 0px 0px;
  }
  .mainscreen .row .mainscreen__slider .slider {
    max-width: 500px;
  }
  .mainscreen .row .mainscreen__title {
    margin: 0px 0px 0px 0px;
  }
  .mainscreen .row .mainscreen__title h1 {
    font-size: 35px;
    line-height: 41px;
  }
  .mainscreen .row .mainscreen__title p {
    margin: 0px 0px 60px 0px;
  }
  .advant {
    margin: -65px 0px 65px;
  }
  .advant .row .advant__item:not(:last-child):after {
    width: 900px;
    height: 2px;
    top: 244px;
    left: 30px;
  }
  .advant .row .advant__item .advant__img:first-child {
    margin: 0px 45px 0px 0px;
  }
  .advant .row .advant__item .advant__text:first-child {
    margin: 0px 45px 0px 0px;
  }
  .customers .row .custum__title {
    margin: 43px 0;
  }
  .customers .row .cust__slider {
    max-width: 900px;
    padding: 0px 120px;
  }
  .customers .row .cust__slider .cust__item:not(:last-child) {
    margin: 0px 0px;
  }
}

@media (min-width: 767px) and (max-width: 1022px) {
  .header .row .__menu-links nav ul li {
    line-height: 30px;
  }
  .header .row .__menu-links nav ul li:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }
  .mainscreen .row {
    padding: 50px 0px 100px 0px;
  }
  .mainscreen .row .mainscreen__slider {
    margin: 55px 0px 0px 0px;
  }
  .mainscreen .row .mainscreen__slider .slider {
    max-width: 500px;
  }
  .mainscreen .row .mainscreen__title {
    margin: 0px 0px 0px 0px;
  }
  .mainscreen .row .mainscreen__title h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .mainscreen .row .mainscreen__title p {
    margin: 0px 0px 60px 0px;
  }
  .advant {
    margin: -65px 0px 50px;
  }
  .advant .row {
    padding: 55px 0px 55px;
  }
  .advant .row .advant__item:not(:last-child) {
    margin: 0px 0px 90px 0px;
  }
  .advant .row .advant__item:not(:last-child):after {
    width: 700px;
    height: 2px;
    top: 380px;
    left: 7px;
  }
  .advant .row .advant__item .advant__img:first-child {
    margin: 0px 0px 10px 0px;
  }
  .advant .row .advant__item .advant__text .advant__title {
    text-align: center;
  }
  .advant .row .advant__item .advant__text:first-child {
    margin: 0px 0px 10px 0px;
  }
  .opport .row .opport__title {
    font-size: 25px;
    margin: 0px 0px 30px 0px;
  }
  .opport .opport__list .opport__cell {
    width: 350px;
  }
  .opport .opport__list .opport__cell .opport__item {
    padding: 28px 0px 0px 16px;
  }
  .opport .opport__list .opport__cell .opport__item::after {
    visibility: hidden;
    content: "";
    position: absolute;
    bottom: -15px;
    right: -18px;
    display: block;
    border: 20px solid transparent;
    border-left: 20px solid #ccc;
    border-top: 20px solid #ccc;
    opacity: .8;
    z-index: -1;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
  }
  .opport .opport__list .opport__cell .opport__item .opport__img {
    margin: 22px 0px 55px 0px;
  }
  .opport .opport__list .opport__cell .opport__item .opport__text {
    font-size: 21px;
    line-height: 1.5;
  }
  .customers .row .custum__title {
    margin: 25px 0;
    font-size: 25px;
  }
  .customers .row .cust__slider {
    max-width: 650px;
    padding: 0px 40px;
    margin: 0px 0px 33px 0px;
  }
  .footer .row p {
    font-size: 12px;
  }
  .footer .row p .contact {
    font-size: 17px;
  }
  .footer .row .web a .fb {
    width: 35px;
    height: 35px;
  }
  .footer .row .web a .fb::before {
    top: 8px;
    left: 13px;
    font-size: 21px;
  }
  .footer .row .web a .in {
    width: 35px;
    height: 35px;
  }
  .footer .row .web a .in::before {
    top: 8px;
    left: 8px;
    font-size: 21px;
  }
  .footercopy .row .copyright p {
    font-size: 13px;
  }
  .footercopy .row .footer__text {
    margin: 28px 8px 0px 0px;
  }
}

@media (min-width: 575px) and (max-width: 766px) {
  .header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f9fc;
  }
  .mainscreen .row {
    padding: 73px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainscreen .row .mainscreen__title {
    margin: 37px 0px 0px 0px;
  }
  .mainscreen .row .mainscreen__title h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
  .advant {
    margin: 0px 0px 48px 0px;
  }
  .advant .row {
    padding: 70px 0px 66px;
  }
  .advant .row .advant__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advant .row .advant__item:not(:last-child) {
    margin: 0px 0px 90px 0px;
  }
  .advant .row .advant__item:not(:last-child):after {
    width: 350px;
    left: 97px;
    top: 444px;
  }
  .advant .row .advant__item .advant__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 195px;
            flex: 0 0 195px;
  }
  .advant .row .advant__item .advant__img:first-child {
    margin: 0px 0px 0px 0px;
  }
  .advant .row .advant__item .advant__text {
    width: 440px;
  }
  .advant .row .advant__item .advant__text:first-child {
    margin: 0px 0px 0px 0px;
    width: 440px;
  }
  .advant .row .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .advant .row .reverse .advant__text {
    width: 440px;
  }
  .advant .row .reverse .advant__text:first-child {
    margin: 0px 0px 0px 0px;
    width: 440px;
  }
  .opport .row .opport__title {
    font-size: 30px;
    margin: 0px 0px 30px 0px;
  }
  .opport .row .opport__cell {
    max-width: 380px;
  }
  .opport .row .opport__cell .opport__item {
    padding: 28px 26px 21px;
  }
  .opport .row .opport__cell .opport__item .opport__img {
    margin: 22px 0px 55px 0px;
  }
  .customers .row .custum__title {
    font-size: 30px;
    margin: 40px 0px 30px 0px;
  }
  .customers .row .cust__slider {
    max-width: 506px;
    padding: 0px 77px;
    margin: 0px 0px 30px 0px;
  }
  .customers .row .cust__slider .cust__item img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .customers .row .cust__slider .cust__item:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
  .footer .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .row p {
    font-size: 12px;
  }
  .footer .row p .contact {
    font-size: 14px;
    line-height: 14px;
  }
  .footer .row .web {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .row .web .fb {
    margin: 0px 0px 10px 0px;
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  .mainscreen .row {
    padding: 73px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainscreen .row .mainscreen__title {
    margin: 37px 0px 0px 0px;
  }
  .mainscreen .row .mainscreen__title h1 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    margin: 0px 0px 26px 0px;
  }
  .mainscreen .row .mainscreen__title p {
    font-size: 14px;
    line-height: 0;
    margin: 0px 0px 51px 0px;
  }
  .mainscreen .row .mainscreen__title a {
    font-size: 8.4px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.22em;
    padding: 12px 31px 10px;
    margin: 0px 0px 52px 0px;
    text-align: center;
    width: 139px;
  }
  .advant {
    margin: 0px 0px 48px 0px;
  }
  .advant .row {
    padding: 70px 0px 66px;
  }
  .advant .row .advant__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advant .row .advant__item:not(:last-child) {
    margin: 0px 0px 100px 0px;
  }
  .advant .row .advant__item:not(:last-child):after {
    width: 276px;
    left: 22px;
    top: 476px;
  }
  .advant .row .advant__item .advant__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 194px;
            flex: 0 0 194px;
  }
  .advant .row .advant__item .advant__img:first-child {
    margin: 0px 0px 0px 0px;
  }
  .advant .row .advant__item .advant__text {
    width: 280px;
  }
  .advant .row .advant__item .advant__text p {
    line-height: 1.2;
  }
  .advant .row .advant__item .advant__text:first-child {
    margin: 0px 0px 0px 0px;
    width: 280px;
  }
  .advant .row .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .advant .row .reverse .advant__text {
    width: 280px;
  }
  .advant .row .reverse .advant__text p {
    line-height: 1.2;
  }
  .advant .row .reverse .advant__text:first-child {
    margin: 0px 0px 0px 0px;
    width: 280px;
  }
  .opport .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opport .row .opport__title {
    font-size: 26px;
    line-height: 1.2;
    margin: 0px 0px 84px 0px;
  }
  .opport .row .opport__cell {
    max-width: 278px;
  }
  .opport .row .opport__cell .opport__item {
    padding: 28px 60px 21px 10px;
  }
  .opport .row .opport__cell .opport__item::before {
    left: 0;
  }
  .opport .row .opport__cell .opport__item .opport__img {
    margin: 22px 0px 55px 0px;
  }
  .opport .row .opport__cell .opport__item .opport__text p {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
  }
  .customers .row .custum__title {
    font-size: 26px;
    margin: 48px 0px 30px 0px;
  }
  .customers .row .cust__slider {
    max-width: 300px;
    padding: 0px 50px;
    margin: 0px 0px 30px 0px;
  }
  .customers .row .cust__slider .cust__item img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .customers .row .cust__slider .cust__item:not(:last-child) {
    margin: 0px 200px 0px 0px;
  }
  .footer .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .row .footer__map {
    margin: 0px 0px 50px 0px;
  }
  .footer .row p {
    font-size: 12px;
  }
  .footer .row p .contact {
    font-size: 14px;
    line-height: 14px;
  }
  .footer .row .web {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 10px 0px;
  }
  .footer .row .web .fb {
    margin: 0px 0px 0px 0px;
  }
  .footercopy .row .copyright {
    font-size: 13px;
    margin: 0px 0px 0px 0px;
  }
  .footercopy .row .footer__text {
    margin: 28px 8px 0px 0px;
  }
}
