// menustyle // 

%menustyle {
    font-size: 16px;
    line-height: 70px;
}

%advanttitle {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #395060;
}

%advantsubtitle {
    font-size: 16px;
    line-height: 24px;
}

%opportsubtitle {
    font-size: 24px;
    line-height: 1.2;
    color: #000;
}

%customtitle {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
}

%footertext{
    font-size: 14px;
    line-height: 1.2;
    color: #d7e3ec;
}